@model BodyViewModel

@{ 
    var containerClass = Model.UseBrowserWidth ? "ncs-full-width-container" : "govuk-width-container";
}

@if (Model.Content != null)
{
    <div class="@containerClass">
        <div class="govuk-grid-row">
            @Html.Raw(Model.Content)
        </div>
    </div>
}
