@model BodyViewModel

@if (Model.Content != null)
{
    @if (Model.UseBrowserWidth)
    {
        @Html.Raw(Model.Content)
    }
    else
    {
        <div class="govuk-width-container">
            @Html.Raw(Model.Content)
        </div>
    }
}