@model BodyViewModel

@{
    var widthClass = Model.UseBrowserWidth ? "ncs-full-width-container" : "govuk-width-container";
}

@if (Model.Content != null)
{
    <div class="@widthClass">
        <div class="govuk-grid-row">
            @Html.Raw(Model.Content)
        </div>
    </div>
}
