.dfc-composite-shell-hide {
    display: none !important;
    visibility: hidden !important;
}

.dfc-composite-shell-show {
    display: inherit;
    visibility: visible;
}

.dfc-composite-shell-margin-left-none {
    margin-left: 0 !important;
}

